[submodule "External/cpprestsdk"]
	path = External/cpprestsdk
	url = https://github.com/jasonsandlin/cpprestsdk.git
[submodule "External/cppwinrt"]
	path = External/cppwinrt
	url = https://github.com/Microsoft/cppwinrt.git
[submodule "InProgressSamples/Kits/DirectXTK"]
	path = InProgressSamples/Kits/DirectXTK
	url = https://github.com/jasonsandlin/DirectXTK.git
[submodule "External/libHttpClient"]
	path = External/libHttpClient
	url = https://github.com/Microsoft/libHttpClient.git
