.heading { font-weight: bold;
           margin-top: 18;
           margin-bottom: 8;
         }

.subHeading { font-weight: bold;
              margin-bottom: 4;
            }

.procedureSubHeading { font-weight: bold;
                       margin-bottom: 4;
                     }

.downloadCode { color: #0000ff;
                font-size: 90%;
                font-weight: normal;
                cursor: pointer;
              }

/* Formats parameter tooltips. */
.tip { color: #0000FF;
       font-style: italic;
       cursor: pointer;
       text-decoration:underline;
     }

/* Applies to text styled as math. This text is passed as a parameter to the italics SSC definition */
.math { font-family: Times New Roman;
        font-size: 125%
      }

.viewCode { color: #0000ff;
            font-size: 90%;
            font-weight: normal;
            cursor: pointer;
          }

/* Applies to the checkbox labels in the filter drop-downs for devlang, member options, and member platforms. */
.checkboxLabel { color: #0000FF;
                 cursor: pointer;
                 text-decoration: underline;
                 padding-bottom: 4;
                 font-size: 90%;
               }

#memberOptionsMenu { position: absolute;
                     visibility: hidden;
                     border-style: solid;
                     border-width: 1px;
                     border-color: #f3cbb5;
                     background: #FCECE4;
                     padding-top: 4px;
                     padding-bottom: 4px;
                     padding-left: 4px;
                     padding-right: 8px;
                     font-size: 70%;
                   }

#memberFrameworksMenu { position: absolute;
                        visibility: hidden;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #f3cbb5;
                        background: #FCECE4;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        padding-left: 4px;
                        padding-right: 8px;
                        font-size: 70%;
                      }

a {}

a:link { color: #0000FF;
       }

a:visited { color: #DD7C3B;
          }

a:hover{color:	#FF0000;
	    cursor: hand;
        }

body { background: #FFFFFF;
       color: #000000;
       font-family: Verdana;
       font-size: medium;
       font-style: normal;
       font-weight: normal;
       margin-top: 0;
       margin-bottom: 0;
       margin-left: 0;
       margin-right: 0;
       width: 100%;
       height: 100%;
       overflow:hidden;
     }

br {}

code { font-family: Monospace, Courier New, Courier;
       font-size: 105%;
       color: #000066;
}

dd {margin-bottom:	0;
	margin-left:	30;
   }

div {}

div.alert, span.alert { height-min: 1.5em;
                        background-color:#F7F7FF;
                        font-weight: bold;
                        margin-bottom: .5em;
                        margin-top:15;
                        margin-bottom:15;
                      }

div.alert,
div.code,
div.tableSection { width: 98.9%;
                 }

div.code { background-color: #F0F0FF;
         }

div.alertText,
span.alertText { margin-top: 5px;
                 margin-bottom: 8;
                 font-weight: normal;
                 background-color:#F7F7FF;
                 padding-left:6px;
               }

div.alertimportant,
div.alertcaution,
div.alertnote,
div.alertsecurity,
div.alerttip,
div.alertwarning { padding-left: 6px;
                   margin-bottom: 0px;
                   background-color:#EFEFF7;
                   color:#000066;
                 }

div.caption, span.caption { font-weight: bold;
                            font-size: 100%;
                            color: #003399;
                          }

div.tablediv ,div.alertTable{ margin: 0px;
               border: 0px;
               padding: 0px;
               margin-top:1em;
               margin-bottom:1em;
             }

div.clsTooltip { border: 1px solid black;
                 padding: 2px;
                 position: absolute;
                 top: 0;
                 left: 0;
                 display: none;
                 background-color: #FFFFAA;
                 color: black;
                 font-size: 8pt;
                 font-family: Arial;
               }

div.collapseableSection { width: 100%;
                          padding-left: 13px;
                        }

div.collapseButton { background-image: url('../icons/collapse.gif');
                     background-repeat: no-repeat;
                     background-color: inherit;
                     padding-left: 13px;
                   }

div.collapseButton span { color: #003399;
                        }

div#copyrightLink { margin-left: 15px;
                  }

div#devLangMenuDropdown { position: absolute;
                          width-min: 110px;
                          height-min: 110px;
                          display: none;
                          border-style: solid;
                          border-width: 1px;
                          border-color: #ffc0c0;
                          padding-top: 0px;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          padding-right: 0px;
                          font-family: Verdana;
                          font-size: 70%;
                          font-style: normal;
                          font-weight: normal;
                          background-color: #ffc0c0;
                          color: Black;
                        }

div.devLangsMenuItem { background-color: #ffc0c0;
                       width: 110;
                       visibility: hidden;
                       margin-left: 5px;
                     }

div.alert,
div.tableSection,
ul div.alert,
ul div.code,
ol div.alert,
ol div.code { width:100%;
            }

div#devLangMenuButton { background-color: inherit;
                        margin-left: 5px;
                        padding-left: 10px;
                        background-image: url('../icons/DropUp.gif');
                        background-repeat: no-repeat;
                        width-min: 100%;
                      }

div#expandCollapseAll { padding-left: 10px;
                        background-color: inherit;
                        background-image: url('../icons/Collapse.gif');
                        background-repeat: no-repeat;
                        cursor: default;
                        width-min: 100%;
                      }

/* Formats the footer. */
div#footer { font-size: 80%;
             margin-top: 0;
             margin-bottom: 0;
             margin-left: 0;
             margin-right: 0;
             padding-top: 8;
             padding-bottom: 6;
             padding-left: 1;
             padding-right: 1;
             width: 100%;
           }

/* Line seperating footer from main body */
div.footerLine { margin: 0;
                 width: 100%;
                 padding-top: 8;
                 padding-bottom: 6;
               }

div#gradientDiv { margin: 0;
                  padding: 0;
                  border-width: 0;
                }

div#header { position:  static;
             overflow: hidden;
             left: 0;
             top: 0;
             margin: 0px;
             padding: 0px;
             border: 0px;
             color: #0000A0;
             background-color:  #D4DFFF;
             width: auto;
             font-size: 70%;
             height :auto;
           }

div.h2,
span.h2 {
          font-size: 125%;
          font-weight: bold;
        }

div.hr0 { width: 100%;
          height: 1px;
          padding: 0;
          border: 0px;
          margin-top: 0px;
          margin-bottom: 2px;
          background: #DEDEDE;
          font-size: 1px;
          overflow: hidden;
        }

div.hr1 { margin: 0;
          width: 100%;
          height: 1px;
          padding: 0;
          background: #C8CDDE;
          font-size: 1px;
        }

div.hr2 { margin: 0;
          width: 100%;
          height: 1px;
          padding: 0;
          background: #D4DFFF;
          font-size: 1px;
        }

div.hr3 { margin: 0;
          width: 100%;
          height: 1px;
          padding: 0;
          background: #EEEEFF;
          font-size: 1px;
        }

div.inset, span.inset {}

div.labelheading, span.labelheading { font-size: 100%;
                                      color: #003399;
                                    }

div.legacySyntaxDiv { font-family: Monospace, Courier New, Courier;
                      color: #000066;
                      word-wrap: normal;
                      background: #F7F7FF;
                    }

div.legacySyntaxHeader { font-weight: bold;
                         font-size: 105%;
                         padding-left: 5px;
                         padding-bottom: 0px;
                         margin-bottom: 1px;
                         border: 0px;
                         background-color:#EFEFF7;
                       }

div#mainBody { font-size: 100%;
               margin-left: 5;
               margin-top: 0;
               border-top: 0;
               padding-top: 0;
             }

div#mainSection { overflow: auto;
                  font-size: 62.5%;
                  width: 100%;
                  height:93%;
                  color: #000000;
                  margin-top: 0px;
                  margin-bottom: 0px;
                  margin-left: 0px;
                  margin-right: 0px;
                  border-top: 0px;
                  border-bottom: 0px;
                  border-left: 0px;
                  border-right: 0px;
                  padding-top: 0px;
                  padding-bottom: 0px;
                  padding-left: 0px;
                  padding-right: 0px;
                }

div#nsrTitle { font-size: 125%;
               padding-left: 5;
               padding-bottom: 0.3em;
               font-family: arial;
               color: #003399;
	           font-weight: 600;

             }
div#seeAlsoTop{
             font-size: 70%;
             font-weight:100;
             padding-top:3px;
            }

div.prediv,
div.codediv { font-family: Monospace, Courier New, Courier;
              font-size: 105%;
              color: #000066;
              word-wrap: normal;
              background: #F7F7FF;
              margin-top:15;
              margin-bottom:15;
              float:none;
              width:100%;

            }

div.topCodediv{background:#EFEFF7;
              }

span.CodeLanguage {
               font-weight:bold;
               color:#000066;
               font-size:100%;
               padding-right:5px;
               padding-left:5px;
                }
div.preHeader { padding-left: 90px;
                border: 0px;
                color:#0000ff;
                font-size:97%;
                float:right;
                word-wrap: normal;
               }

 div.preHeader a{text-decoration:none;}
 span.copyImg { vertical-align:0;}
 div.copyCodePosition
              {  clear:both;
              }

div#relatedTopicsDiv { font-weight: bold;
                     }

/* Applies to the running header text in the non-scrolling header region. */
div#runningHeaderText { color: #8C8C8C;
                        font-size: 90%;
                        text-align: left;
                      }

div.section { margin-left: 2px;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 15px;
              padding-right: 0;
              margin-bottom: 2em;
              margin-top:18px;
              width: 100%;
            }

div.h2Section {	padding-top:	1;
	            padding-bottom:	1;
	            padding-left:	16;
	            padding-right:	15;
            	width:	100%;
            	margin-top:-15px;

            }

div#sectionTitle_additionalInformation,
div#sectionTitle,
div#sectionTitle_appliesTo,
div#sectionTitle_background,
div#sectionTitle_buildInstructions,
div#sectionTitle_codeExample,
div#sectionTitle_codeExamples,
div#sectionTitle_codeList,
div#sectionTitle_conclusion,
div#sectionTitle_contents,
div#sectionTitle_demonstrates,
div#sectionTitle_dotNetFrameworkEquivalent,
div#sectionTitle_downloadCenterLink,
div#sectionTitle_exceptions,
div#sectionTitle_inThisSection,
div#sectionTitle_keywords,
div#sectionTitle_languageReferenceRemarks,
div#sectionTitle_namespaces,
div#sectionTitle_nextSteps,
div#sectionTitle_notesForCallers,
div#sectionTitle_notesForImplementers,
div#sectionTitle_notesForInheritors,
div#sectionTitle_parameters,
div#sectionTitle_prerequisites,
div#sectionTitle_reference,
div#sectionTitle_relatedSections,
div#sectionTitle_relatedTechnologies,
div#sectionTitle_remarks,
div#sectionTitle_requirements,
div#sectionTitle_robustProgramming,
div#sectionTitle_security,
div#sectionTitle_summary,
div#sectionTitle_tasklist,
div#sectionTitle_textValue,
div#sectionTitle_threadSafety,
div#sectionTitle_uiElementList,
div#sectionTitle_whatsNew { display: inline;
	                        font-size: 120%;
	                        font-weight: bold;
	                        color: #003399;
                          }


/* Applies to the body of a collapsible section */
div.seeAlsoNoToggleSection { margin-left: 0;
                             padding-top: 2;
                             padding-bottom: 2;
                             padding-left: 0;
                             padding-right: 15;
                             width: 100%;
                           }

div.seeAlsoStyle { padding-top: 5px;
                 }

div.seeSection { margin-left: 0;
                 padding-top: 0;
                 padding-bottom: 2;
                 padding-left: 16;
                 padding-right: 15;
                 width: 100%;
               }

div.tableSection, span.tableSection {}

div#mainBody div.alert,
div#mainBody div.code,
div#mainBody div.tableSection { width: 98.9%;
                              }

div#mainBody div.section ul div.alert,
div#mainBody div.section ul div.code,
div#mainBody div.section ul div.tableSection,
div#mainBody div.section ol div.alert,
div#mainBody div.section ol div.code,
div#mainBody div.section ol div.tableSection { width: 100%;
                                             }

html>body div.section { margin-left: 0;
                        padding-top: 1;
                        padding-bottom: 1;
                        padding-left: 16;
                        padding-right: 15;
                        width: 97%;
                      }

dl { margin-top: 10;
     margin-bottom: 5;
     padding-left: 1;
   }

div.section dl { margin-top: 8;
                 margin-bottom: 1;
                 padding-left: 1;
               }

div.seeAlsoNoToggleSection dl { margin-top: 8;
                                margin-bottom: 1;
                                padding-left: 1;
                              }

dt {font-style:	italic;
    margin-left:15px;
    }

dl.authored dt { font-style: normal;
                 font-weight: bold;
                 margin-top: 2;
               }

/* Adds right padding for all blocks in mainBody */
div#mainBody p,
div#mainBody ol,
div#mainBody ul,
div#mainBody dl { padding-right: 5;
                }

h1 {}

h1#nsrTitle { color: #000000;
	          font-size: 300%;
              padding-left: 13;
            }

h2 {color:#003399;
    font-size: 125%;}

h3 {color:#003399;
    font-size: 115%;
    }

/* Formats the titles of author-generated tables. */
h3.subHeading {color:#003399;
                font-size: 115%;
                font-weight: 800;
              }

h3.procedureSubHeading { color: #000000;
                         font-size: 115%;
                       }

h4 {color:#003399;
    font-size: 105%;
    }

/* Formats the titles of all subsections. */
h4.subHeading { color:#003399;
                font-size: 110%;
                font-weight: 800;
              }

h5 {font-size: 100%;
    color:#003399;
    }

h6 {font-size: 95%;
    }

hr { height: 2px;
     border-top: 100% solid #000000;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     margin-top: 2px;
     margin-bottom: 2px;
     padding-top: 2px;
     padding-bottom: 2px;
   }

img,
img#collapseAllImage,
img#collapseImage,
img#copyHoverImage,
img#copyImage,
img#devLangsMenuDropDownImg,
img.downloadCodeImage,
img#dropDownHoverImage,
img.dropDownImage,
img#dropDownImage,
img#expandAllImage,
img#expandImage,
img.viewCodeImage { border: 0;
                    margin-right: 3;
                  }

img.copyCodeImage { margin: 1;
                  }

img.dropDownImage { margin-left: 0;
                    vertical-align: middle;
                    width: 9px;
                    height: 11px;
                  }

img.noteIcon { height: 10px;
               width: 10px;
               border-width: 0;
               margin-left: 2px;
               margin-right: 5px;
             }

img.toggleAll {}

img#toggleAllImage { margin-left: 0;
                     vertical-align: middle;
                     width: 9px;
                     padding-right: 5px;
                   }

/* Formats the Members Options filter drop-down image. */
img#memberOptionsDropdownImage { border: 0;
                                 margin-left: 0;
                                 vertical-align: middle;
                               }

/* Formats the Members Platforms filter drop-down image. */
img#memberFrameworksDropdownImage { border: 0;
                                    margin-left: 0;
                                    vertical-align: middle;
                                  }

label.checkboxLabel {}

label#devLangsMenuLabel { top: 5%;
                          display: inline;
                          margin-left: 10px;
                        }

label.languageMenu { display: none;
                   }

label#toggleAllLabel { top: 5%;
                       display: inline;
                       margin-left: 10px;
                     }

li { margin-bottom: 5;
     margin-bottom: 5;
   }

ol { margin-top: 0;
     margin-bottom: 0;
     margin-left: 28;
     list-style-type: decimal;
   }

/* For IE9- compatability */
ol li { vertical-align: top; }

ol ol, ul ol { margin-bottom: 4;
               margin-left: 28;
               margin-top: 3;
               list-style-type: lower-alpha;
             }

p { margin-top: 3;
    margin-bottom: 3;
  }
p.TextIndented
{
    margin-top: 10;
    margin-bottom: 5;
	padding-left:30px;
}

p#testpara {}

pre.code { font-family: Monospace, Courier New, Courier;
           font-size: 105%;
           color: #000066;
           word-wrap: normal;
           background: #F7F7FF;
           padding-top: 5px;
           margin-top: 1px;
         }

pre.codeReference { font-family: Monospace, Courier New, Courier;
           font-size: 105%;
           color: #000066;
           word-wrap: normal;
           background: #F7F7FF;
           padding-top: 5px;
           margin-top: 1px;
         }
pre.legacySyntax { font-family: Monospace, Courier New, Courier;
                   font-size: 105%;
                   color: #000066;
                   word-wrap: break-word;
                   background: #F7F7FF;
                   padding-top: 5px;
                   margin-top: 1px;
                 }

dd p { margin-top: 2;
       margin-bottom: 18;
     }

div.seeAlsoNoToggleSection dd p { margin-top: 2;
                                  margin-bottom: 8;
                                }

div.section dd p { margin-top: 2;
                   margin-bottom: 8;
                 }

div.tableSection p { margin-top: 1;
                     margin-bottom: 4;
                   }

li p { margin-top: 2;
       margin-bottom: 2;
     }

/* Formats the code in syntax and usage blocks, and the code in non-snipper code blocks. */
div.code pre { font-family: Monospace, Courier New, Courier;
               font-size: 105%;
               color: #000066;
               word-wrap: break-word;
               background: #F7F7FF;
             }

span.alertCaution { margin-left: 15px;
                  }

span.alertNote { margin-left: 15px;
               }

span.alertWarning { margin-left: 15px;
                  }

span.application {}

span.assemblyName {}

span.caption {}

span.clsGlossary { cursor: default;
                   color: #509950;
                   font-weight: bold;
                 }

span.code,
span.codespan { font-family: Monospace, Courier New, Courier;
                font-size: 105%;
                color: #000066;
              }

span.codeFeaturedElement { font-family: Monospace, Courier New, Courier;
                           font-size: 105%;
                           color: #000066;
                           font-weight: bold;
                         }

span.comment { color: #006400;
             }

span.computerOutput {}

span.computerOutputInline {}

span.copyCode { color: #0000ff;
                font-size: 90%;
                font-weight: normal;
                cursor: pointer;
                float: right;
                display: inline;
                text-align: right;
                text-decoration: underline;
              }

span.copyCodeOnHover { color: #E85F17;
                       font-size: xx-small;
                       font-weight: normal;
                       cursor: pointer;
                       float: right;
                       display: inline;
                       text-align: right;
                       text-decoration: underline;
                     }

span.copyright {}

span.corporation {}

span.cpp { display: none;
         }

span.cs { display: none;
        }

span.database {}

span.embeddedLabel { font-weight: bold;
                   }

span.environmentVariable {}

span.errorInline {}

span.embeddedLabel {}

span#footfeedbackarea { font-size: 10pt;
                        background-color: #FFFFFF;
                        color: #003399;
                        width: 100%;
                        margin-bottom: 0.7em;
                        margin-top: 0;
                        margin-left: 5;
                        margin-right: 5;
                      }

/* FB STYLES */
span.feedbackcss { font-size: 110%;
                   width: 98.9%;
                   border-width: 1px 1px 1px 1px;
                   border-style: solid;
                   border-color: #999999;
                   filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#F2F2F2', EndColorStr='#D2D2D2');
                 }

span.fictitiousUri {}

span.foreignPhrase { font-style: italic;
                   }
span.hardware {}

span.hotkey {text-decoration: underline;}

span.input { font-weight: bold;
           }

span.introStyle { color: #A0A0A0;
                }

span.italic { font-style: italic;
            }

span.keyword { font-weight: bold;
             }

div.code span.keyword { /*color: green;*/
                        color: #871F78;
                      }

span.languageKeyword { font-weight: bold;
                     }

span.label { font-weight: bold;
           }

span.legacyBold { font-weight: bold;
                }

span.legacyItalic { font-style: italic;
                  }

span.legacyUnderline { text-decoration: underline;
                     }

span.literal { color:#8B0000;
             }

span.localizedText {}

span.markup {}

span.math { font-style: italic;
          }

span.newTerm {font-style: italic;}

span.nobr { white-space: nowrap;
          }

span.nolink {}

span.nonLocErrorTitle {}

span.nu { display: inline;
        }

span.parameter { font-style: italic;
               }

div.code span.parameter {   font-style: italic;
                        }

span.parameterReference {}

span.phrase {}

span.placeholder { font-style: italic;
                 }

span.programmingLanguage {}

span.quoteInline {}

span.replaceable {}

span.secondaryErrorTitle {}

span.selflink { font-weight: bold;
              }

span.subscript {}

span.superscript {}

span.syntaxLabel { color: #0481DA;
                   font-weight: bold;
                 }

span.system { font-weight: bold;
            }

span.term { font-style: italic;
          }

span.trademark {}

span.typeparameter { font-style: italic;
                   }

span.ui { font-weight: bold;
        }

span.unmanagedCodeEntityReference {}

span.userInput { font-weight: bold;
               }

span.userInputLocalizable { font-weight: bold;
                          }

/*span.vb { display: none;
        }*/

/* syntax styles */
span.comment { color: #006400;
             }

span.identifier {}

span.keyword { color: #871F78;
             }

span.literal { color: #8B0000;
             }


div.code p,
span.code { margin-top: 5;
            margin-bottom: 8;
          }

 div.alertText p{ margin-top:0;
                 margin-bottom:15;
                 color:#000000;
                }
div.code span.parameter { font-style: italic;
                        }

table {}

div.alert table { border: 0;
                  font-size: 100%;
                  width: 100%;
                  background-color: #f0f0ff;
                }

div.code table { border: 0;
                 font-size: 95%;
                 margin-bottom: 5;
                 margin-top: -.4em;
                 width: 100%
               }

div#mainSection table { border: 0;
                        font-size: 100%;
                        width: 98%;
                        margin-top: 5px;
                        margin-bottom: 5px;
                      }

td {}


div.tablediv th {background:#EFEFF7;
	             border-bottom-color:#C8CDDE;
	             border-bottom-style: solid;
	             border-bottom-width: 2;
	             color: #000066;
	             font-weight: bold;
	             padding-left: 5;
	             padding-right: 5;
	            }

div.tablediv  table h3{margin-bottom:3;
	                   padding-left: 15;
	                   }
div.tablediv  table tr th p {margin-top: 1;
                             margin-bottom :1;
                             }
div.tablediv  table tr td p {margin-top: 1;
                             margin-bottom :1em;
                            }

div.tablediv tr td{border-bottom-color:white;
	              border-bottom-style : solid;
	              border-bottom-width: 1;
	              padding-left:5px;
	              vertical-align:middle;
	              padding-bottom:1em;
                  }
div.alertTable th
                { background-color:#EFEFF7;
	             border-bottom-color:#C8CDDE;
	             border-bottom-style: solid;
	             border-bottom-width: 1;
	             color: #000066;
	             font-weight: 700;
	             padding-left: 5;
	             padding-right: 5;
	             }

div.alertTable  table tr td p {margin-top: 0;
                                margin-bottom :1.3em;
                              }

div.alertTable tr td
                 {
	              padding-left:6;
                  }
div#mainSection table>tr>td { background-color: #F7F7FF;
                              border-bottom: 1px solid #D5D5D3;
                              border-left: 1px none #D5D5D3;
                              padding-left: 5px;
                              padding-right: 5px;
                            }

div.alert table>tr>td { background: #F7F7FF;
                        border-top-color: #FFFFFF;
                        border-top-style: solid;
                        border-top-width: 1;
                        padding-left: 5;
                        padding-right: 5;
                      }

div.code table>tr>td { background: #F7F7FF;
                       border-top-color: #FFFFFF;
                       border-top-style: solid;
                       border-top-width: 1;
                       padding-left: 5;
                       padding-right: 5;
                       padding-top: 5;
                     }

/* Formats the first column--the one that displays icons--in mref list tables (such as Public Constructors,
   Protected Constructors, Public Properties, Protected Properties, and so on). */
div#mainSection table td.imageCell { white-space: nowrap;
                                   }

text {}

th {}
div.alert table>tr>th { background: #EFEFF7;
                        border-bottom-width: 0;
                        color: #000066;
                        padding-left: 5;
                        padding-right: 5;
                      }

div.code table>tr>th { background: #EFEFF7;
                       border-bottom-color: #C8CDDE;
                       border-bottom-style: solid;
                       border-bottom-width: 1;
                       color: #000066;
                       font-weight: bold;
                       padding-left: 5;
                       padding-right: 5;
                     }

div#mainSection table>tr>th { background-color: #EFEFF7;
                              border-bottom: 1px solid #C8CDDE;
                              border-left: 1px none #D5D5D3;
                              color: #000066;
                              padding-left: 5px;
                              padding-right: 5px;
                              text-align: left;
                            }

tr {}

div#mainSection table tr { vertical-align: top;
                           background-color: #F7F7FF;
                         }

ul { margin-left: 17;
     list-style-type: disc;
   }

ul ul, ol ul { margin-bottom: 4;
               margin-left: 17;
               margin-top: 3;
               list-style-type: disc;
             }

ul ol {list-style-type:decimal;}

ul.NoBullet { margin-left: 17;
              list-style-type: none
            }

ul.NoBullet ul.NoBullet, ol ul.NoBullet { margin-bottom: 4;
                                          margin-left: 17;
                                          margin-top: 3;
                                          list-style-type: none
                                        }
