<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

    <Identity Name="41336MicrosoftATG.XboxLiveE2EStats2017" Publisher="CN=A4954634-DF4B-47C7-AB70-D3215D246AF1" Version="1.7.0.0" />
    
    <ExecutableList>
        <Executable Name="APIRunner.GDK.Src.exe" Id="Game1"/>
    </ExecutableList>

    <MSAFullTrust>false</MSAFullTrust>
    <MSAAppId>0000000044296E10</MSAAppId>
    <TitleId>78C0191B</TitleId>
    <PersistentLocalStorage>
        <SizeMB>1024</SizeMB>
    </PersistentLocalStorage>

    <ShellVisuals
            DefaultDisplayName="APIRunner Src GDK Desktop Sample"
            PublisherDisplayName="Xbox Advanced Technology Group"
            Description="InGameStore Desktop Sample"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            BackgroundColor="#000000"
            SplashScreenImage="Assets\SplashScreen.png"
            StoreLogo="Assets\StoreLogo.png"
    />

</Game>
