<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">
  
  <Identity Name="28c09034-ef45-49b4-b311-17d52fcbed91"
            Publisher="CN=Publisher"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>CTestAppXdkCppWinRT</DisplayName>
    <PublisherDisplayName>PublisherDisplayName</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>CTestAppXdkCppWinRT</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="CTestAppXdkCppWinRT.App">
        <VisualElements 
            DisplayName="CTestAppXdkCppWinRT"
            Logo="Logo.png"
            SmallLogo="SmallLogo.png"
            Description="CTestAppXdkCppWinRT"
            ForegroundText="light"
            BackgroundColor="#464646">
            <SplashScreen Image="SplashScreen.png" />
            <DefaultTile WideLogo="WideLogo.png" />
        </VisualElements>
        <Extensions>
          <mx:Extension Category="xbox.system.resources">
            <mx:XboxSystemResources resourceConfiguration="extended">
              <mx:GpuAvailability>variable</mx:GpuAvailability>
            </mx:XboxSystemResources>
          </mx:Extension>
        </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
  <Extensions>
    <mx:PackageExtension Category="windows.kinect">
      <mx:Kinect IsVersionLocked="false">
        <mx:AudioPipeline Version="1.14.8" />
        <mx:SpeechPipeline Version="1.14.8" />
        <mx:VisionPipeline Version="1.14.8" />
      </mx:Kinect>
    </mx:PackageExtension>
  </Extensions>
</Package>
